# DEPENDENCIES & NODE
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# NEXT.JS & BUILD
/.next/
/out/
/dist
/build

# SUPABASE
supabase/.temp/
supabase/.branches/
supabase/functions/**/.env

# ENVIRONMENT & SECURITY
.env
.env.*

# EXCEPCIÓN:
!.env.example
!.env.local.example

# Bloquea llaves privadas y certificados
*.pem
*.key
*.cert
*.crt

# TESTING
/coverage
test-results/
playwright-report/
blob-report/
playwright/.cache/

# IDEs & OS FILES
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# DEBUG & LOGS
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# VERCEL
.vercel

# TYPESCRIPT
*.tsbuildinfo
next-env.d.ts

# TERRAFORM (Infraestructura)
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars